<div class="card">
    <div class="image-wrapper">
        <img [src]="country().flag" [alt]="country().name">
    </div>
    <div class="card-body">
        <p class="card-label">Prenda</p>
        <p class="title">{{ country().name }}</p>
        <p class="detail"><span>Tipo de prenda</span> {{ country().capital }}</p>
        <p class="detail" [class.highlight]="country().population > 30000000">
            <span>Color</span> {{ country().population | number }}
        </p>
        <p class="detail"><span>Talla</span> {{ country().region }}</p>
    </div>
</div>
